/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Impede a rolagem horizontal */
  }
  
  header {
    background-color: black;
    color: goldenrod;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  header p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  #servicos {
    padding: 20px;
    text-align: center;
  }
  
  #servicos h2 {
    font-size: 30px;
    color: #333;
  }
  
  .servicos-lista {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .servico {
    margin: 0 15px;
    text-align: center;
  }
  
  .servico h3 {
    font-size: 24px;
  }
  
  .servico p {
    font-size: 16px;
    color: #555;
  }
  
  #agendamento {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #agendamento h2 {
    font-size: 28px;
  }
  
  input[type="text"], input[type="email"], input[type="time"], input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: goldenrod;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #e5a900;
  }
  
  #contato {
    text-align: center;
    margin-top: 30px;
  }
  
  .whatsapp-btn, .email-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .email-btn {
    background-color: #007bff;
  }
  
  footer {
    background-color: black;
    color: goldenrod;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  